.add-course-form {
  background-color: #ebfef0;
  height: 235px;
  width: 100%;
  padding: 20px 20px 0 20px;
}

.course-panel-footer {
  background-color: #ebfef0;
  min-height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
}

.course-add-contents {
  display: flex;
  gap: 30px;
}

.add-course-fields {
  display: flex;
  gap: 30px;
}

.course-description {
  width: 450px;
}

@media (min-width: 768px) {

  .course-description {
    width: 600px;
  }    
}