.experience-edit-icons {
    display: flex;
    justify-content: space-between;
    align-items: center;  
    gap: 5px;
}

.experience-edit-contents {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    gap: 20px;
}

.snippet-edit-row {
    background-color: #ebfef0;
    display: flex;
    width: 100%;
    justify-content: space-between;
    gap: 10px;
}

.snippet-edit-form {
    background-color: #ebfef0;
    height: 285px;
    width: 100%;
    padding: 20px 20px 0 20px;
}
  
.snippet-edit-heading {
    display: flex;
    gap: 5px;
}

.snippet-edit-tagging {
    width: 100%;
    height: 335px;
    padding: 20px 20px 10px 20px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}
  
.snippet-edit-skills {
    background-color: white;
    width: 100%;
    height: 100%;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #01210a;
    padding: 10px;
}

.snippet-edit-tags {
    background-color: white;
    width: 100%;
    height: 100%;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #01210a;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 17px;
}

.character-count {
    padding: 3px 0 0 3px;
    font-weight: normal;
    color: black;
}
  
.character-count.exceeded {
    padding: 3px 0 0 3px;
    font-weight: normal;
    color: red;
}