.education-row {
    background-color: white;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    margin-top: 5px;
    margin-bottom: 10px;
    padding: 20px 5px 20px 20px;
    width: 100%;
    gap: 10px;
    display: flex;
    justify-content: space-between;
    transition: margin 0.5s ease; 
    position: relative;   
}

.education-row.editing {
    margin-bottom: 260px;
}

.education-info-block {
    position: relative;
  }

.education-info-header {
    display: flex;
    flex-direction: column;
}

.education-info-heading {
    font-style: italic;
    font-size: 22px;
}

.education-institution {
    display: flex;
    justify-content: flex-start;
    gap: 20px;
}

.education-info-description {
    width: 70%;
}
  
.education-info-dates {
    font-weight: normal;
    width: 70%;
}

.education-edit-contents {
    display: flex;
    gap: 20px;
}

.education-edit-icons {
    display: flex;
    justify-content: space-between;
    align-items: center;  
    gap: 5px;
}

.education-edit-icons2 {
    display: flex;
    justify-content: flex-start;
    align-items: center;  
    gap: 5px;
}
  
.education-row-edit-icons {
    display: flex;
    justify-content: flex-start;
    align-items: center;  
    gap: 5px;
}

.education-edit-block {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 240px;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    overflow: hidden;
    z-index: 10;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8);
}

.overlay.show {
    pointer-events: none;
    z-index: 10;
}

.overlay.hide {
    pointer-events: auto;
}

.education-edit-block.show {
    height: 240px;
}

.education-edit-block.hide {
    height: 0;
}

.edit-education-institution {
    width: 400px;
}

.edit-education-location {
    width: 400px;
}

.education-add-detail {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 130px;
}
  
.education-add-detail h5 {
    text-align: center;
}

.education-info-detail {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
  
.education-info-details {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
}

@media (min-width: 768px) {

    .education-info-block {
      width: 100%;
    }
}

.education-detail-block {
    display: flex;
    gap: 15px;
    margin-left: 10px;
    margin-top: 10px;
    align-items: baseline;
}

@media (min-width: 1200px) {

    .education-row-edit-icons {
      justify-content: space-between;
    }
    
    .education-info-dates {
        width: 25%;
    }

    .education-info-details {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
}