.hobby-info-heading {
    font-style: italic;
    font-size: 22px;
}

.hobby-row {
    background-color: white;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    margin-top: 5px;
    margin-bottom: 10px;
    padding: 20px 20px 20px 20px;
    display: flex;
    width: 100%;
    gap: 10px;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.hobby-row.open {
    justify-content: flex-start;
    height: 240px;
    z-index: 1;
    overflow: hidden;
    animation: slideDown4 0.5s ease forwards;
}
  
.hobby-row.hide {
    justify-content: center;
    min-height: 110px;
    flex: 1;
    z-index: 1;
    animation: slideUp4 0.5s ease forwards;
}

@keyframes slideDown4 {
    from {
        height: 110px; 
    }
    to {
        height: 240px; 
    }
}

@keyframes slideUp4 {
    from {
        height: 240px; 
    }
    to {
        height: 110px; 
    }
}

.hobby-description {
    width: 100%;
}

.hobby-snippet {
    font-weight: normal;
    font-style: normal;
}

.hobby-edit-icons {
    display: flex;
    justify-content: space-between;
    align-items: center;  
    gap: 5px;
}

.hobby-edit-contents {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    gap: 20px;
}

.hobby-info {
    display: flex;
    justify-content: flex-start;
    gap: 20px;
}

.hobby-edit-block {
    display: flex;
    flex-direction: column;
}

.edit-hobby {
    width: 400px;
}

.hobby-info-detail {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-bottom: 10px;
}
  
.hobby-edit-info-details {
    display: flex;
    flex-direction: column;
}

@media (min-width: 768px) {
  
    .edit-hobby {
        width: 450px;
    }
}
