.project-info-heading {
    font-style: italic;
    font-size: 22px;
}

.project-row {
    background-color: white;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    margin-top: 5px;
    margin-bottom: 10px;
    padding: 20px 20px 20px 20px;
    width: 100%;
    gap: 10px;
    display: flex;
    flex-direction: column;
    transition: margin 0.5s ease; 
    position: relative;
}

.project-row.editing {
    margin-bottom: 260px;
}

.project-edit-block {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 240px;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    overflow: hidden;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8);
}

.overlay.show {
    pointer-events: none;
    z-index: 10;
}

.overlay.hide {
    pointer-events: auto;
}

.project-edit-block.show {
    height: 240px;
}

.project-edit-block.hide {
    height: 0;
}

.project-description {
    width: 100%;
}

.project-snippet {
    font-weight: normal;
    font-style: normal;
}

.project-edit-icons {
    display: flex;
    justify-content: space-between;
    align-items: center;  
    gap: 5px;
}

.project-edit-contents {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    gap: 20px;
}

.project-info {
    display: flex;
    justify-content: flex-start;
    gap: 20px;
}

.edit-project {
    width: 400px;
}

.project-info-detail {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-bottom: 10px;
}

project-edit-info-details {
    display: flex;
    flex-direction: column;
}

@media (min-width: 768px) {
  
    .edit-project {
        width: 450px;
    }

}
