.t1-template-container {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.t1-resume-heading {
    text-align: left;
}

.t1-resume-user {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    gap: 20px;
}

.t1-intro-statement {
    margin-bottom: 10px;
}

hr {
    line-height: .5em;
    color: #01210a;
    width: 100%;
}

.t1-resume-information {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.t1-resume-details {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 100%;
}

.t1-resume-skills {
    display: flex;
    flex-direction: column;
    gap: 10px;
    min-width: 200px;
    border: 1px solid #01210a;
    padding: 10px;
}

.t1-resume-skill-item {
    margin-left: 5px;
}