html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/* default styles */

html {
  overflow-y:scroll;
}

html,
body {
  min-height: 100%;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  background-color: #ebfef0;
  font-family: 'Lato', sans-serif;
  color: #01210a;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 30px;
}

li {
  text-align: left;
}

button {
  border-radius: 15px;
  font-size: 1.2em;
  font-weight: 400;
  font-family: 'Lato', sans-serif;
  height: 50px;
  background-color: #01210a;
  color: #ebfef0;
}

.spin {
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

/* Icon styles */

.icon-small {
  font-size: 15px;
  color: #01210a;
}

.icon-medium {
  font-size: 20px;
  color: #01210a;
}

.icon-large {
  font-size: 25px;
  color: #01210a;
}

.icon-xlarge {
  font-size: 30px;
  color: #01210a;
  margin-top: 2px;
}

.icon-small:active, .icon-medium:active, .icon-large:active {
  transform: scale(0.9);
}

.icon-margin-right {
  margin-right: 10px;
}

.icon-margin-left {
  margin-left: 20px;
}

.icon-margin-top {
  margin-top: 33px;
}

.plus-button {
  width: 80px;
  height: 80px;
}

.plus-button:active {
  transform: scale(0.9); 
}

.plus-button-small {
  width: 60px;
  height: 60px;
}

.plus-button-large {
  width: 100px;
  height: 100px;
}

.plus-button-large:active {
  transform: scale(0.9);
}

.plus-button:hover {
  cursor: pointer;
}

.mint-leaf-small {
  height: 30px;
  width: 30px;
  margin-right: 10px;
}

.mint-leaf-medium {
  height: 40px;
  width: 40px;
  margin-right: 10px;
}

.mint-leaf-large {
  height: 50px;
  width: 50px;
  margin-right: 10px;
}

.edit-icon:hover {
  cursor: pointer; 
}

.close-icon {
  position: absolute;
  top: 3px;
  right: 3px;
}

.save-icon {
  color: green;
}

.save-icon:hover {
  cursor: pointer;
}

.cancel-icon {
  color: red;
}

.cancel-icon:hover {
  cursor: pointer;
}

.close-icon:hover {
  cursor: pointer;
  outline: 1px solid #ccc; 
}

/* Navbar styles */

.nav-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 10px 20px;
}

.nav-left, .nav-center, .nav-right {
  flex: 1;
}

.nav-right-menu {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.nav-left {
  display: flex;
  gap: 10px;
  text-align: left; 
}

.nav-center {
  text-align: center; 
}

.nav-right {
  text-align: right;  
}

.nav-logout {
  text-decoration: none;
}

.ellipsis-container {
  display: inline-block;
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  border-radius: 5px;
  right: 0;
  text-align: left;
  min-width: 180px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: #333;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.ellipsis-container:hover .dropdown-content {
  display: block;
}

/* General page styles */

.container {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 246px);
  justify-content: space-between;
  align-items: center;
}

.wrapper {
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 100%;
}

/* Login and create account styles */

[data-amplify-authenticator] {
  margin-top: 60px;
}

[data-amplify-authenticator] [data-amplify-router] {
  background-color: #ebfef0;
  border: none;
  box-shadow: none;
}

[data-amplify-authenticator] [data-state=inactive] {
  background-color: #ebfef0;
}

.amplify-tabs-item {
  border: none;
}

.amplify-label {
  display: none;
}

.amplify-input {
  height: 50px;
  margin-bottom: 10px;
  padding-left: 10px;
  background-color: white; 
  font-family: 'Lato', sans-serif;
  font-size: 1.1em;
  border-radius: 15px;
  border: 1px solid #76a584;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

.amplify-button {
  border-radius: 15px;
  font-size: 1.2em;
  font-weight: 400;
  font-family: 'Lato', sans-serif;
  height: 50px;
}

.amplify-button--primary {
  background-color: #01210a;
  color: #ebfef0;
}

.amplify-field-group__outer-start .amplify-field-group__control, .amplify-field-group__outer-end .amplify-field-group__control {
  height: 50px;
}
.federated-sign-in-button {
  background-color: white;
}

.amplify-field__show-password {
  background-color: white; 
  border-radius: 0 15px 15px 0;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  margin-top: -10px;
}

.amplify-tabs-item[data-state=active] {
  border-color: #01210a;
}

/* HomePage styles */

.snippet-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  border-radius: 5px;
  margin: 5px 60px 25px 60px;
  min-height: 100px;
}

.experience-container {
  border-radius: 5px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  background-color: white;
  height: 250px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.recent-container {
  min-height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.recent-container h2 {
  text-align: center;
  margin: auto;  
}

.experience-add {
  margin: auto;
  text-align: center;
}

.snippet-loading {
  width: 100%;
  height: 100%;
  text-align: center;
  margin: auto;
}

.snippet-row, .intro-row {
  min-height: 100px;
  flex: 1;
  background-color: white;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  margin-top: 5px;
  margin-bottom: 10px;
  padding: 5px;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.snippet-item, .intro-item {
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 5px;
  display: flex;
  gap: 5px;
  align-items: top;
}

.snippet-date, .intro-date {
  padding-left: 30px;
  margin-bottom: 10px;
}

.snippet-bullet, .intro-bullet {
  padding-top: 5px;
}

.snippet-text, .intro-text {
  flex: 1;
  white-space: pre-wrap;
}

/* Card styles */

.card-grid {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: 1fr 1fr;
  margin: 0 40px 15px;
  gap: 40px;
  padding: 20px;
}

.card {
  border: 1px solid #ccc;
  text-align: center;
  width: 100%;
  min-height: 400px;
  border-radius: 5px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-heading {
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  border-bottom: 1px solid #ccc;
}

.card-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  height: 100%;
  width: 100%;
  padding: 10px;
}

/* Profile card styles */

.profile-container {
  width: 100%;
  padding: 5px;
  text-align: left;
  background-color: #95edad;
  border-radius: 5px;
}

.profile-info {
  margin-bottom: 13px;
}

.profile-details .profile-info:last-child {
  margin-bottom: 5px;
}

.profile-first {
  display: flex;
  justify-content: space-between;
}

.profile-details {
  margin-bottom: 5px;
}

.profile-intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.profile-details, .profile-intro {
  background-color: white;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

/* Skills card styles */

.skills-container, .education-container {
  width: 100%;
  height: 100%;
  padding: 5px;
  text-align: left;
  background-color: #95edad;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: space-between;
}

.skills-list, .skills-footer, .education-footer {
  background-color: white;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

.skills-heading {
  text-align: right;
}

.skills-list {
  display: flex;
  justify-content: space-between;
  flex: 1;
}

.skills-extra {
  font-style: italic;
  font-weight: 700;
  list-style: none;
}

.skills-footer, .education-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

/* Footer styles */

footer {
  margin-top: auto;
  height: 154px;
  width: 100%;
  background-image: url('./assets/footer-image.png');
  background-repeat: repeat-x;
}

.footer-text {
  margin-left: 20px;
  padding-top: 128px;
  font-size: 0.9em;
  font-weight: 400;
}

/* Modal window styles */

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000; 
}

.modal {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: white;
  overflow-y: scroll;
}

.modal-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: #ebfef0;
}

.modal-heading {
  position: relative;
  min-height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #ccc;
}

.modal-footer {
  background-color: #ebfef0;
  min-height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-button {
  width: 160px;
  height: 45px;
}

/* Form styles */

form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.form-label {
  text-align: left;
  padding: 0 0 5px 10px;
}

.form-input {
  height: 50px;
  padding: 10px;
  font-size: 1.1em;
  border-radius: 15px;
  border: 1px solid #76a584;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  margin-bottom: 15px;
}

.form-textarea {
  padding: 10px;
  font-size: 1.1em;
  border-radius: 15px;
  border: 1px solid #76a584;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

.formbutton {
  width: 180px; 
  height: 45px;
  margin-top: 10px;
  background-color: transparent;
  color: #ebfef0;
}

.formbutton.focused {
  outline: none;
  z-index: 2;
  background-color: #01210a;
  color: #ebfef0;
}

.formbutton:not(.focused) {
  z-index: 1;
  color: #01210a;
  border: 1px solid #76a584;
  padding-left: 25px;
}

.formbutton:first-child {
  margin-right: -20px;
}

.formbutton:last-child {
  margin-left: -20px;
}

.error {
  font-size: 0.8em;
  color: red;
  margin-left: 10px;
}

/* Modal window add and edit styles */

.add-skill, .add-intro {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  width: 100%;
}

.add-skill-button, .add-intro-button {
  padding-top: 10px;
  cursor: pointer;
}

.add-skill-button.disabled, .add-intro-button.disabled {
  opacity: 30%;
  opacity: 0.5;
  cursor: not-allowed;
}

.add-skill-form, .add-intro-form {
  width: 100%;
  margin-bottom: 10px;
}

.add-skill-form input[disabled], .add-intro-form input[disabled] {
  opacity: 0.8;
  background-color: #ffffff;
  cursor: not-allowed;
}

.edit-skills-list, .edit-intro-list {
  list-style: none;
  padding: 0;
}

.intro-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.edit-skills-list.center-vertically, .edit-intro-list.center-vertically {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.edit-skills-list li.center-vertically, .edit-intro-list li.center-vertically {
  list-style: none;
  text-align: center;
}

.edit-skill-row {
  background-color: white;
  list-style: none;
  height: 40px;
  display: flex;
  justify-content: space-between;
  gap: 5px;
  align-items: center;
  padding: 5px 15px 5px 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 8px;
  position: relative;
}

.edit-skill-row.disabled {
  opacity: 0.7;
  background-color: #f0f0f0;
}

.edit-skill-row.disabled::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 1;
}

.edit-skill-icons {
  display: flex;
  justify-content: space-between;
  align-items: center;  
  gap: 5px;
}

.skill-input {
  width: 90%;
  height: 38px;
  border: none;
  padding-right: 5px;
}

.skill-input:focus-visible {
  outline: none;
}

/* General page styles */

.page-heading {
  display: flex;
}

.page-content {
  margin: 30px 60px 50px 60px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.page-list {
  min-height: 400px;
  flex: 1;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.page-list h2 {
  text-align: center;
  margin: auto;
}

.page-list-loading {
  align-items: center;
  justify-content: center;
}

/* Education page styles for mobile width, less than 1200px*/

.education-row {
  min-height: 110px;
  background-color: white;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  margin-top: 5px;
  margin-bottom: 10px;
  padding: 20px;
  display: flex;
  width: 100%;
  gap: 20px;
}

.education-course-block {
  display: flex;
  gap: 15px;
  padding-left: 8px;
  padding-top: 8px;
  align-items: baseline;
  width: 100%;
}

.education-block {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.education-institution {
  font-style: italic;
  font-size: 22px;
}

.education-course {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.education-course-block {
  display: flex;
  gap: 15px;
  padding-left: 8px;
  padding-top: 8px;
  align-items: baseline;
  width: 100%;
}

.education-course-name {
  width: 50%;
}

.education-course-details {
  font-weight: normal;
  width: 20%;
}

.education-add-course {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.education-add-course h5 {
  text-align: center;
}

@media (min-width: 768px) {
  .card-grid {
    grid-template-columns: repeat(2, 1fr);
  }
  
  .modal {
    position: relative;
    width: 600px;
    height: 770px;
    z-index: 1001; 
    overflow-y: unset;
  }

  .edit-skills-list {
    max-height: 535px;
    overflow-y: auto;
  }

  .edit-intro-list {
    max-height: 480px;
    overflow-y: auto;
  }
}

@media (min-width: 1200px) {
  .card-grid {
    grid-template-columns: repeat(3, 1fr);
  }

  .education-row {
    min-height: 110px;
    background-color: white;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    margin-top: 5px;
    margin-bottom: 10px;
    padding: 20px;
    display: flex;
    width: 100%;
    gap: 20px;
  }
  
  .education-course-block {
    display: flex;
    gap: 15px;
    padding-left: 8px;
    padding-top: 8px;
    align-items: baseline;
    width: 100%;
  }
  
  .education-block {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  
  .education-institution {
    font-style: italic;
    font-size: 22px;
  }
  
  .education-course {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .education-course-block {
    display: flex;
    gap: 15px;
    padding-left: 8px;
    padding-top: 8px;
    align-items: baseline;
    width: 100%;
  }
  
  .education-course-name {
    width: 50%;
  }
  
  .education-course-details {
    font-weight: normal;
    width: 20%;
  }
  
  .education-add-course {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .education-add-course h5 {
    text-align: center;
  }
}

