html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/* default styles */

html {
  overflow-y:scroll;
}

html,
body {
  min-height: 100%;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  background-color: #ebfef0;
  font-family: 'Lato', sans-serif;
  color: #01210a;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 30px;
}

li {
  text-align: left;
}

.icon-small {
  font-size: 15px;
  color: #01210a;
}

.icon-medium {
  font-size: 20px;
  color: #01210a;
}

.icon-large {
  font-size: 25px;
  color: #01210a;
}

.icon-small:active, .icon-medium:active, .icon-large:active {
  transform: scale(0.9);
}

.icon-margin-right {
  margin-right: 10px;
}

.mint-leaf-small {
  height: 30px;
  width: 30px;
  margin-right: 10px;
}

.mint-leaf-medium {
  height: 40px;
  width: 40px;
  margin-right: 10px;
}

.mint-leaf-large {
  height: 50px;
  width: 50px;
  margin-right: 10px;
}

button {
  border-radius: 15px;
  font-size: 1.2em;
  font-weight: 400;
  font-family: 'Lato', sans-serif;
  height: 50px;
  background-color: #01210a;
  color: #ebfef0;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 10px 20px;
}

.nav-left, .nav-center, .nav-right {
  flex: 1;
}

.nav-left {
  display: flex;
  gap: 10px;
  text-align: left; 
}

.nav-center {
  text-align: center; 
}

.nav-right {
  text-align: right;  
}

.nav-logout {
  text-decoration: none;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 246px);
  justify-content: space-between;
  align-items: center;
}

.wrapper {
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 100%;
}

[data-amplify-authenticator] {
  margin-top: 60px;
}

[data-amplify-authenticator] [data-amplify-router] {
  background-color: #ebfef0;
  border: none;
  box-shadow: none;
}

[data-amplify-authenticator] [data-state=inactive] {
  background-color: #ebfef0;
}

.amplify-tabs-item {
  border: none;
}

.amplify-label {
  display: none;
}

.amplify-input {
  height: 50px;
  margin-bottom: 10px;
  padding-left: 10px;
  background-color: white; 
  font-family: 'Lato', sans-serif;
  font-size: 1.1em;
  border-radius: 15px;
  border: 1px solid #76a584;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

.amplify-button {
  border-radius: 15px;
  font-size: 1.2em;
  font-weight: 400;
  font-family: 'Lato', sans-serif;
  height: 50px;
}

.amplify-button--primary {
  background-color: #01210a;
  color: #ebfef0;
}

.amplify-field-group__outer-start .amplify-field-group__control, .amplify-field-group__outer-end .amplify-field-group__control {
  height: 50px;
}
.federated-sign-in-button {
  background-color: white;
}

.amplify-field__show-password {
  background-color: white; 
  border-radius: 0 15px 15px 0;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  margin-top: -10px;
}

.amplify-tabs-item[data-state=active] {
  border-color: #01210a;
}

.spin {
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.snippet-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  border-radius: 5px;
  margin: 5px 60px 25px 60px;
  min-height: 100px;
}

.experience-container {
  border-radius: 5px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  background-color: white;
  height: 250px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.recent-container {
  min-height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.recent-container h2 {
  text-align: center;
  margin: auto;  
}

.experience-add {
  margin: auto;
  text-align: center;
}

.snippet-loading {
  width: 100%;
  height: 100%;
  text-align: center;
  margin: auto;
}

.snippet-row {
  min-height: 100px;
  flex: 1;
  background-color: white;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 5px;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.snippet-item {
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 5px;
  display: flex;
  gap: 5px;
  align-items: top;
}

.snippet-date {
  padding-left: 30px;
  margin-bottom: 10px;
}

.snippet-bullet {
  padding-top: 5px;
}

.snippet-text {
  flex: 1;
}

.card-grid {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: 1fr 1fr;
  margin: 0 40px 15px;
  gap: 40px;
  padding: 20px;
}

.card {
  border: 1px solid #ccc;
  text-align: center;
  width: 100%;
  min-height: 300px;
  border-radius: 5px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-heading {
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  border-bottom: 1px solid #ccc;
}

.card-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  padding: 10px;
}

.plus-button {
  width: 80px;
  height: 80px;
}

.plus-button:active {
  transform: scale(0.9); 
}

.plus-button-large {
  width: 100px;
  height: 100px;
}

.plus-button-large:active {
  transform: scale(0.9);
}

.plus-button:hover {
  cursor: pointer;
}

.edit-icon:hover {
  cursor: pointer;
}

.profile-container {
  width: 100%;
  padding: 5px;
  text-align: left;
  background-color: #95edad;
  border-radius: 5px;
}

.profile-info {
  margin-bottom: 15px;
}

.profile-details .profile-info:last-child {
  margin-bottom: 5px;
}

.profile-links .profile-info:last-child {
  margin-bottom: 5px;
}

.profile-first {
  display: flex;
  justify-content: space-between;
}

.profile-details {
  margin-bottom: 5px;
}

.profile-details, .profile-links {
  background-color: white;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

.skills-container {
  width: 100%;
  height: 100%;
  padding: 5px;
  text-align: left;
  background-color: #95edad;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: space-between;
}

.skills-list, .skills-footer {
  background-color: white;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

.skills-heading {
  text-align: right;
}

.skills-list {
  display: flex;
  justify-content: space-between;
  flex: 1;
}

.skills-extra {
  font-style: italic;
  font-weight: 700;
  list-style: none;
}

.skills-footer {
  text-align: center;
  display: flex;
  justify-content: center;
}

footer {
  margin-top: auto;
  height: 154px;
  width: 100%;
  background-image: url('./assets/footer-image.png');
  background-repeat: repeat-x;
}

.footer-text {
  margin-left: 20px;
  padding-top: 128px;
  font-size: 0.9em;
  font-weight: 400;
}

@media (min-width: 768px) {
  .card-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000; 
  }
  
  .modal {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: white;
    width: 600px;
    height: 600px;
    padding: 20px;
    z-index: 1001; 
  }

  .modal-form {
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  .modal-heading {
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: top;
  }

  .modal-body {
    flex: 1;
  }

  .modal-footer {
    height: 70px;
    margin: auto;
    padding-top: 15px;
    display: flex;
    justify-content: center;
  }

  .modal-button {
    width: 200px;
    background-color: transparent;
  }
  
  .modal-button.focused {
    outline: none;
    z-index: 2;
    background-color: #01210a;
    color: #ebfef0;
  }
  
  .modal-button:not(.focused) {
    z-index: 1;
    color: #01210a;
    border: 1px solid #76a584;
  }
  
  .modal-button:first-child {
    margin-right: -20px;
  }
  
  .modal-button:last-child {
    margin-left: -20px;
  }
}

@media (min-width: 1200px) {
  .card-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}
